## Deliverable 2. Create a Customer Travel Destinations Map.

In [3]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description
0,0,Touros,-5.1989,-35.4608,79.88,79,65,7.76,BR,broken clouds
1,1,New Norfolk,-42.7826,147.0587,55.65,69,100,1.99,AU,overcast clouds
2,2,Taonan,45.3333,122.7833,44.83,28,6,4.76,CN,clear sky
3,3,Tinaquillo,9.9186,-68.3047,77.07,92,100,1.61,VE,light rain
4,4,Punta Arenas,-53.1500,-70.9167,46.51,93,75,2.30,CL,light rain

In [8]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [9]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description
0,0,Touros,-5.1989,-35.4608,79.88,79,65,7.76,BR,broken clouds
3,3,Tinaquillo,9.9186,-68.3047,77.07,92,100,1.61,VE,light rain
11,11,Rikitea,-23.1203,-134.9692,78.42,66,4,11.36,PF,clear sky
12,12,Vaini,-21.2000,-175.2000,84.36,79,75,6.91,TO,broken clouds
13,13,Labuhan,-6.8844,112.2051,79.65,87,49,3.69,ID,scattered clouds
14,14,Gamba,-2.6500,10.0000,77.52,91,100,3.80,GA,overcast clouds
17,17,Kavieng,-2.5744,150.7967,85.24,66,83,13.82,PG,broken clouds
19,19,Mahebourg,-20.4081,57.7000,77.29,94,75,0.00,MU,broken clouds
33,33,Teluknaga,-6.0989,106.6381,80.64,88,40,5.75,ID,light rain
37,37,Atuona,-9.8000,-139.0333,79.74,78,8,16.82,PF,clear sky

In [10]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                163
City                   163
Lat                    163
Lng                    163
Max Temp               163
Humidity               163
Cloudiness             163
Wind Speed             163
Country                163
Current Description    163
dtype: int64

In [11]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.dropna()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description
0,0,Touros,-5.1989,-35.4608,79.88,79,65,7.76,BR,broken clouds
3,3,Tinaquillo,9.9186,-68.3047,77.07,92,100,1.61,VE,light rain
11,11,Rikitea,-23.1203,-134.9692,78.42,66,4,11.36,PF,clear sky
12,12,Vaini,-21.2000,-175.2000,84.36,79,75,6.91,TO,broken clouds
13,13,Labuhan,-6.8844,112.2051,79.65,87,49,3.69,ID,scattered clouds
...,...,...,...,...,...,...,...,...,...,...
533,533,Katobu,-4.9408,122.5276,77.04,92,100,2.30,ID,overcast clouds
535,535,Vertientes,21.2594,-78.1464,80.04,61,32,7.67,CU,scattered clouds
542,542,Karwar,14.8000,74.1333,78.55,84,17,5.55,IN,few clouds
550,550,Pitimbu,-7.4706,-34.8086,81.19,79,64,8.61,BR,broken clouds
552,552,Boca Del Monte,19.1500,-96.8167,88.61,33,1,9.53,MX,clear sky

In [12]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Touros,BR,79.88,broken clouds,-5.1989,-35.4608,
3,Tinaquillo,VE,77.07,light rain,9.9186,-68.3047,
11,Rikitea,PF,78.42,clear sky,-23.1203,-134.9692,
12,Vaini,TO,84.36,broken clouds,-21.2000,-175.2000,
13,Labuhan,ID,79.65,scattered clouds,-6.8844,112.2051,
14,Gamba,GA,77.52,overcast clouds,-2.6500,10.0000,
17,Kavieng,PG,85.24,broken clouds,-2.5744,150.7967,
19,Mahebourg,MU,77.29,broken clouds,-20.4081,57.7000,
33,Teluknaga,ID,80.64,light rain,-6.0989,106.6381,
37,Atuona,PF,79.74,clear sky,-9.8000,-139.0333,

In [15]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"

    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [28]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

In [29]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [32]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [33]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))